<configuration>
    <appender class="ch.qos.logback.core.ConsoleAppender" name="CONSOLE">
        <bufferSize>262144</bufferSize>
        <bufferedIO>true</bufferedIO>
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <target>System.out</target>
    </appender>

    <logger level="WARN" name="org.apache"/>
    <logger level="INFO" name="org.springframework"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
